{% extends "base.html" %}

{% block title %}Хвосты с историями{% endblock %}

{% block content %}
    <h1 class="main-title">{{tie.desc}}</h1>
    <section class="list-wrapper">
        {% for tail in tails %}
            <div class="list-element" data-tail-id="{{tail.id}}" data-status="{{tail.status.value}}" {% if loop.index % 3 == 0 %} data-tail-counter="{{loop.index}}"{% endif %}>
                <div class="checkbox" data-status="{{tail.status.value}}">
                    <select data-level="tail">
                        {% for st_val, st_name in statuses.items() %}
                        <option value="{{st_val}}" {% if st_val==tail.status.value %} selected {% endif %}>{{st_name}}</option>
                        {% endfor %}
                        <option disabled>-</option>
                        <option value="delete">Удалить</option>
                    </select>
                </div>
                <span class="tail-desc">{{ tail.desc }}</span>
                {% if tail.tales %}
                <input type="checkbox" id="separator-toggle-{{tail.id}}" class="separator-toggle" hidden>
                <label class="separator" for="separator-toggle-{{tail.id}}"></label>
                <span class="tale-desc tale-desc-edit tale-desc-last" data-tale-id="{{tail.tales[-1].id}}">{{tail.tales[-1].desc}}</span>
                <div class="tale-desc-stories">
                    {% for tale in tail.tales | reverse %}
                    <div class="tale-desc story" data-tale-id="{{tale.id}}">
                        <span class="created-label">{{tale.created.strftime('%a, %d %b, %H:%M') | en2ru_strftime }}</span>
                        <span class="tale-desc-edit">{{tale.desc}}</span>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if tail.status.value in ['new', 'active'] %}
                <input class="add_tale_x" placeholder="+ запиши сделанную работу" data-tail-status="{{tail.status.value}}">
                {% endif %}
            </div>
        {% endfor %}
        <input class="add_tail_x" placeholder="+ запиши новую задачу" data-tie-id="{{tie.id}}">
    </section>
{% endblock %}
